## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [7]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
sample_list_1 = random.sample(range(100),80)   #puedo poner sorted antes de random.sample para que los ordene
print(sample_list_1)

#Ahora compruebo si hay alg√∫n duplicado
from iteration_utilities import duplicates
print("Duplicados en la lista:",list(duplicates(sample_list_1)))

[11, 89, 99, 52, 61, 97, 19, 10, 81, 63, 3, 46, 64, 42, 85, 78, 57, 66, 26, 33, 0, 31, 58, 4, 15, 80, 93, 72, 9, 47, 73, 56, 84, 75, 23, 60, 40, 8, 18, 2, 39, 50, 13, 68, 38, 7, 95, 36, 29, 82, 34, 96, 20, 30, 74, 59, 24, 98, 27, 67, 79, 87, 41, 70, 83, 37, 54, 32, 5, 86, 55, 35, 69, 49, 51, 71, 77, 94, 92, 17]
Duplicados en la lista: []

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
set1=set((sample_list_1))
len(sample_list_1)

# Nota: a set is a collection data type that is unordered and mutable. A set cannot have duplicate elements.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [10]:
import random

sample_list_2=[]
for item in range(80):
    x = random.randint(0,101)   #random.randint return a number between 0-100
    sample_list_2.append(x)
       
print(sample_list_2)

[48, 46, 77, 66, 43, 53, 74, 31, 69, 82, 43, 72, 91, 10, 92, 30, 23, 73, 3, 77, 86, 58, 6, 68, 5, 86, 45, 63, 88, 89, 51, 40, 24, 61, 58, 35, 101, 1, 7, 64, 47, 76, 56, 34, 12, 5, 7, 22, 28, 45, 1, 84, 30, 72, 76, 0, 2, 38, 29, 28, 65, 14, 93, 45, 90, 74, 35, 84, 8, 60, 88, 41, 80, 42, 84, 96, 49, 6, 63, 48]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [11]:
set2 = set((sample_list_2))
print(len(sample_list_2))
print(len(set2))

80
59

In [12]:
type(set2)

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [14]:
set3 = set1 - set2
print(set3)

{4, 9, 11, 13, 15, 17, 18, 19, 20, 26, 27, 32, 33, 36, 37, 39, 50, 52, 54, 55, 57, 59, 67, 70, 71, 75, 78, 79, 81, 83, 85, 87, 94, 95, 97, 98, 99}

In [15]:
type(set3)

set

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [11]:
set4 = set2 - set1
print(set4)

{65, 67, 68, 38, 39, 71, 52, 85, 55, 90, 94}

In [12]:
type(set4)

set

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [21]:
set5 = set1.intersection(set2)
print(set5)

{0, 2, 3, 5, 7, 8, 10, 23, 24, 29, 30, 31, 34, 35, 38, 40, 41, 42, 46, 47, 49, 51, 56, 58, 60, 61, 63, 64, 66, 68, 69, 72, 73, 74, 77, 80, 82, 84, 86, 89, 92, 93, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [22]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5),"\n")

if len(set1) == len(set2):
    print("List 1 is equal to list 2 in size")
else:
    print("List 1 and list 2 are different in size")
if len(set1) == len(set3):
    print("List 1 is equal to list 3 in size")
else:
    print("List 1 and list 3 are different in size")
if len(set1) == len(set4):
    print("List 1 is equal to list 3 in size")
else:
    print("List 2 and list 2 are different in size")
if len(set2) == len(set3):
    print("List 2 is equal to list 3 in size")
else:
    print("List 2 and list 3 are different in size")

80
59
37

NameError: name 'set4' is not defined

print('Sum of set1 and set2 lenghts is the same as set3, 4 and 5:', (len(set3) + len(set4) + len(set5)) == len(union))

#### Create an empty set called `set6`.

In [23]:
set6 = set()

In [24]:
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [25]:
# set update method:
#Insert the items from set y into set x

set6 = set3.update(set5)
print(set6)

None

#### Check if `set1` and `set6` are equal.

In [18]:
if set1 == set6:
    print("set1 is equal to set6")
else:
    print("set1 is not equal to set6")

set1 is not equal to set6

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [19]:
# set issubset method: 
# Return True if all items in set x are present in set y

a = set1.issubset(set2)
print("set1 contains set2:",a)

b = set1.issubset(set3)
print("set 1 contains set3:",b)

set1 contains set2: False
set 1 contains set3: False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [20]:
# Union mehod:
# Return a set that contains all items from both sets, duplicates are excluded

aggregate1 = set3.union(set4,set5)
aggregate2 = aggregate1.union(set1,set2)

if aggregate1 == aggregate2:
    print("The aggregates are equal")
else:
    print("The two aggregates are not equal")

The aggregates are equal

Diferencia entre union y update:
https://codedestine.com/python-set-union-example/

#### Using the `pop` method, remove the first element from `set1`.

In [22]:
# Pop method:
# Used to remove the elements one by one from the set. 
# The element that is the smallest in the set is removed first followed by 
# removing elements in increasing order.

print("set1",set1)
print("pop",set1.pop())

set1 {0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 40, 42, 43, 45, 46, 48, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 69, 70, 72, 73, 74, 75, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 95, 97, 98, 99}
pop 0

In [23]:
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 40, 42, 43, 45, 46, 48, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 69, 70, 72, 73, 74, 75, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 95, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [26]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)
print("set1 with removed elements from the list: ",set1)

set1 with removed elements from the list:  {2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 43, 45, 46, 48, 50, 53, 54, 56, 57, 58, 60, 62, 63, 64, 66, 70, 72, 73, 74, 75, 77, 78, 82, 83, 84, 86, 87, 88, 92, 93, 95, 97, 98}

In [27]:
len(set1)

63